<div class="banner-image">
    <div class="banner-text">
        <p>ALMACÉN DE VINOS</p>
        <h1>Wine ONE LIFE</h1>
        <a href="#productos">
            <button> Productos</button>
        </a>
    </div>
</div>