<footer>
    <div class="content-footer">
        <section class="section-card">
            <a class="fa-buttom" href="">
                <i class="fa-solid fa-credit-card"></i>
            </a>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section class="section-shipping">
            <a class="fa-buttom" href="">
                <i class="fa-solid fa-truck-fast"></i>
            </a>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <div class="banner-text">
            <p>ALMACÉN DE VINOS</p>
            <h1>Wine ONE LIFE</h1>
        </div>
        <div class="cont-redes">
            <div>
                <i class="fab fa-instagram"></i>
            </div>
            <div>
                <i class="fab fa-facebook"></i>
            </div>
            <div>
                <i class="fab fa-twitter-square"></i>
            </div>
        </div>
    </div>
    <div class="banner-foot">
        <img class="img-foot" src="img/baner-foot.png">
    </div>
    <div class="copyright">
        <p class="copy">© 2022 Wine One Life. All Rights Reserved</p>
    </div>
</footer>