<footer>
    <div class="content-footer">
        
        <div class="cont-redes">
            <div>
                <i class="fab fa-instagram"></i>
            </div>
            <div>
                <i class="fab fa-facebook"></i>
            </div>
            <div>
                <i class="fab fa-twitter-square"></i>
            </div>
        </div>
    </div>
    <div class="banner-foot">
        <img class="img-foot" src="img/baner-foot.png">
    </div>
    <div class="copyright">
        <p class="copy">© 2022 Wine One Life. All Rights Reserved</p>
    </div>
</footer>