<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/cart.css">

    <title>Almacén Vinos - Carro de compras</title>
</head>

<body>
    <header class="main-header">
        <h1>Header</h1>
    </header>
    <main class="main-sections">
        <img class="banner" src="/img/img-home-banner.jpg" alt="Almacén de Vinos">
        <section class="section-article">
            <div class="section-detail">
                <article class="article-detail">
                    <img class="imagen" src="/img/producto.jpg" alt="Producto">
                    <div class="descripcion">
                        <h5>Novocento</h5>
                        <p>Vino tinto cabernet sauvignon novocento 750 ML</p>
                    </div>
                    <hr class="article-separator">
                    <div class="info">
                        <h5>Precio</h5>
                        <p class="precios">$ 6.770</p>
                    </div>
                    <div class="cant">
                        <h5>Cantidad</h5>
                        <input type="number" min="0" max="10" value="1">
                    </div>
                    <div class="total">
                        <h5>Total</h5>
                        <p class="precios">$ 6.770</p>
                    </div>
                </article>
                <article class="article-detail">
                    <img class="imagen" src="/img/producto.jpg" alt="Producto">
                    <div class="descripcion">
                        <h5>Novocento</h5>
                        <p>Vino tinto cabernet sauvignon novocento 750 ML</p>
                    </div>
                    <hr class="article-separator">
                    <div class="info">
                        <h5>Precio</h5>
                        <p class="precios">$ 6.770</p>
                    </div>
                    <div class="cant">
                        <h5>Cantidad</h5>
                        <input type="number" min="0" max="10" value="1">
                    </div>
                    <div class="total">
                        <h5>Total</h5>
                        <p class="precios">$ 6.770</p>
                    </div>
                </article>
                <article class="article-detail">
                    <img class="imagen" src="/img/producto.jpg" alt="Producto">
                    <div class="descripcion">
                        <h5>Novocento</h5>
                        <p>Vino tinto cabernet sauvignon novocento 750 ML</p>
                    </div>
                    <hr class="article-separator">
                    <div class="info">
                        <h5>Precio</h5>
                        <p class="precios">$ 6.770</p>
                    </div>
                    <div class="cant">
                        <h5>Cantidad</h5>
                        <input type="number" min="0" max="10" value="1">
                    </div>
                    <div class="total">
                        <h5>Total</h5>
                        <p class="precios">$ 6.770</p>
                    </div>
                </article>
            </div>
            <div class="section-total">
                <article class="article-total">
                    <div class="subtotal">
                        <h5>Subtotal</h5>
                        <p class="precios">$ 6.770</p>
                    </div>
                    <div class="descuentos">
                        <h5>Descuentos</h5>
                        <p class="precios">$ 6.770</p>
                    </div>
                    <hr>
                    <h5>Total</h5>
                    <p class="precios">$ 6.770</p>
                </article>
            </div>
        </section>
    </main>
    <footer class="main-footer">
        <h1>Footer</h1>
    </footer>
</body>

</html>