<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

    <script src="https://kit.fontawesome.com/0a256d9d04.js" crossorigin="anonymous"></script>

    <title>Wine ONE LIFE - Inicio</title>
</head>

<body>
    <%- include("partials/head.ejs") %> 
       

    <main>
            <div class="container">
            <img src="/img/wine.jpg" alt="" class="first">
            <div class="wine">Wines</div>
            <img src="/img/beer.jpg" alt="" class="second">
            <div class="beer">Beer</div>
            <img src="/img/wiskey.jpg" alt="" class="tres">
            <div class="wiskey">wiskey</div>
            <img src="/img/champ.jpg" alt="" class="cuatro">
            <div class="champain">champain</div>
        </div>
        <br>
    <div class="banner-image">
        <div class="banner-text">
            <p>ALMACÉN DE VINOS</p>
            <h1>Wine ONE LIFE</h1>
            <a href="#productos">
                <button> Productos</button>
            </a>
        </div>
    </div>
    <main class="main-sections">
        <h2>Nuestras recomendaciones</h2>
        <section id="productos" class="productos">
            <article class="articulos">
                <div><a href="/product-detail"><img src="/img/producto1.jpg"></a></div>
                <div>
                    <p class="">Nombre del producto</p>
                </div>
                <div class="">Descripcion</div>
                <div class="">Precio</div>
                <div> <i class="fas fa-cart-arrow-down"></i></div>
            </article>
            <article class="articulos">
                <a href="/product-detail"><img src="/img/producto1.jpg"></a>
                <p class="">Nombre del producto</p>
                <div class="">Descripcion</div>
                <div class="">Precio</div>
                <i class="fas fa-cart-arrow-down"></i>
            </article>
            <article class="articulos">
                <a href="/product-detail"> <img src="/img/producto1.jpg"></a>
                <p class="">Nombre del producto</p>
                <div class="">Descripcion</div>
                <div class="">Precio</div>
                <i class="fas fa-cart-arrow-down"></i>
            </article>
            <article class="articulos">
                <a href="/product-detail"><img src="/img/producto1.jpg"></a>
                <p class="">Nombre del producto</p>
                <div class="">Descripcion</div>
                <div class="">Precio</div>
                <i class="fas fa-cart-arrow-down"></i>
            </article>
            <article class="articulos">
                <a href="/product-detail"><img src="/img/producto1.jpg"></a>
                <p class="">Nombre del producto</p>
                <div class="">Descripcion</div>
                <div class="">Precio</div>
                <i class="fas fa-cart-arrow-down"></i>
            </article>
            <article>
                <div class="articulos">
                    <a href="/product-detail"> <img src="/img/producto1.jpg"></a>
                    <p class="">Nombre del producto</p>
                    <div class="">Descripcion</div>
                    <div class="">Precio</div>
                    <i class="fas fa-cart-arrow-down"></i>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="content-footer">
            <section class="section-card">
                <a class="fa-buttom" href="">
                    <i class="fa-solid fa-credit-card"></i>
                </a>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>
            <section class="section-shipping">
                <a class="fa-buttom" href="">
                    <i class="fa-solid fa-truck-fast"></i>
                </a>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </section>
            <section class="section-user">
                <a class="fa-buttom" href="">
                    <i class="fa-solid fa-user-lock"></i>
                </a>
                <h3>Seguridad, de principio a fin</h3>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </section>
        </div>
        <div class="copyright">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </div>
    </footer>
</body>

</html>