<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/fav-logo.png"> <!-- Coloco imagen en pestaña del navegador -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Almacén de vinos</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/img/logo_movil.jpg"></a>
        </div>

        <div class="barra-busqueda">
            <!-- contiene la barra de busqueda y sus iconos -->
            <form action="">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="| Buscar productos" aria-label="search" />
                <button type="reset"><i class="fas fa-times"></i></button>
            </form>
        </div>
        <div class="burguer-menu"><i class="fas fa-bars"></i></div>
        <div class="carrito"><i class="fas fa-shopping-cart"></i></div>
        <br>
        <div class="ing-reg">
            <p>INGRESAR | REGISTRARSE</p>
        </div>
        <div class="nav-bar">
            <!-- barra de navegacion -->
            <ul>
                <li><a href="">Catalogo</a></li>
                <li><a href="">Promociones</a></li>
                <li><a href="">Sucursales</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="banner">
            <br>
            <br>
            <p>BRUCE BANNER</p>
            <br>
            <br>
            <!-- <img src="/img/banner-vino.jpg"> -->
        </div>
        <h2>Nuestras recomendaciones</h2>
        <section class="productos">
            <article class="articulos">
                <div><a href="/product-detail"><img src="/img/producto1.jpg"></a></div>
                <div>
                    <p class="">Nombre del producto</p>
                </div>
                <div class="">Descripcion</div>
                <div class="">Precio</div>
                <div> <i class="fas fa-cart-arrow-down"></i></div>
            </article>
            <article class="articulos">
                <a href="/product-detail"><img src="/img/producto1.jpg"></a>
                <p class="">Nombre del producto</p>
                <div class="">Descripcion</div>
                <div class="">Precio</div>
                <i class="fas fa-cart-arrow-down"></i>
            </article>
            <article class="articulos">
                <a href="/product-detail"> <img src="/img/producto1.jpg"></a>
                <p class="">Nombre del producto</p>
                <div class="">Descripcion</div>
                <div class="">Precio</div>
                <i class="fas fa-cart-arrow-down"></i>
            </article>
            <article class="articulos">
                <a href="/product-detail"><img src="/img/producto1.jpg"></a>
                <p class="">Nombre del producto</p>
                <div class="">Descripcion</div>
                <div class="">Precio</div>
                <i class="fas fa-cart-arrow-down"></i>
            </article>
            <article class="articulos">
                <a href="/product-detail"><img src="/img/producto1.jpg"></a>
                <p class="">Nombre del producto</p>
                <div class="">Descripcion</div>
                <div class="">Precio</div>
                <i class="fas fa-cart-arrow-down"></i>
            </article>
            <article>
                <div class="articulos">
                    <a href="/product-detail"> <img src="/img/producto1.jpg"></a>
                    <p class="">Nombre del producto</p>
                    <div class="">Descripcion</div>
                    <div class="">Precio</div>
                    <i class="fas fa-cart-arrow-down"></i>
                </div>
            </article>
        </section>
        <hr>

    </main>
    <footer>
        <div class="foot">
            <section>
                <p>Preguntas frecuentes</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eligendi nisi rerum</p>
                <br>
            </section>
            <section>
                <p>Sobre nosotros</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eligendi nisi rerum</p>
                <br>
            </section>
            <section>
                <p>Envios</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eligendi nisi rerum</p>
                <br>
            </section>
            <section>
                <p>Nuestras redes</p>
                <br>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter-square"></i>
            </section>
        </div>
        <section class="copyright">
            <br>
            Copyright © 1999-2022 Almacén de Vinos S.A.
        </section>
    </footer>
</body>

</html>