<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/fav-logo.png"> <!-- Coloco imagen en pestaña del navegador -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/product-styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/e638c2695f.js" crossorigin="anonymous"></script>
    

    <title>Almacén de vinos</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/img/logo_movil.jpg"></a>
        </div>

        <div class="barra-busqueda">
            <!-- contiene la barra de busqueda y sus iconos -->
            <form action="">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="| Buscar productos" aria-label="search" />
                <button type="reset"><i class="fas fa-times"></i></button>
            </form>
        </div>
        <div class="burguer-menu"><i class="fas fa-bars"></i></div>
        <div class="carrito"><i class="fas fa-shopping-cart"></i></div>
        <br>
        <div class="ing-reg">
            <br>
            <p>INGRESAR - <i class="fas fa-wine-glass-alt"></i> - REGISTRARSE</p>
            <br>
        </div>
        <div class="nav-bar">
            <!-- barra de navegacion -->
            <ul>
                <li><a href="">Catalogo</a></li>
                <li><a href="">Promociones</a></li>
                <li><a href="">Sucursales</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </div>
    </header>
    <main>




        <section class="detalle">
            <article class="imagen">
    
                <div><img src="/img/producto.jpg"></div>
                <div>
    
            </article>
    
            <article class="descripcion">
    
                <div class="nombre-producto">
                    NOMBRE DEL PRODUCTO
                </div>
    
                <div class="descripcion-producto">
                    Breve descripción del articulo 
                </div>
    
                <div class="precio-producto">
                    precio $$$
                </div>
    
                <div class="cantidad-producto">
                    
                    <label for="quantity" class="cantidad">Cantidad</label><br> <br>
                    <div class="caja-cantidades">
                    <div class="boton-resta"><i class="fa-solid fa-minus"></i></div>
                        <input class="valor-cantidad" type="number" name="quantity" value="1" />
                        <div class="boton-suma"><i class="fa-solid fa-plus"></i></div>
                    
                    </div>
                </div>

                <div class="iconoyagrega">

                <i class="fa-solid fa-cart-plus carrito-mas"></i>
    
                <div class="agregar-producto">

                    añadir al carro
                </div>
    
                </div>
    
            
    
            </article>
        </section> 
        <br>
        <br>





       <hr>
        <div class="puede-interesar"><h2>También puede interesarte</h2></div>
        <br>
        
        
        <section class="productos">
            <article class="articulos">
                <div> <a href="/product-detail"><img src="/img/producto.jpg" ></a></div>
                <div>
                    <p class="">Nombre del producto</p>
                </div>
                <div class="">
                    <div class="">Descripcion</div>
                    <div class="">Precio</div>
                </div>
                <div class=""><i class="fas fa-cart-arrow-down"></i></div>
            </article>
            <article class="articulos">
                <div><a href="/product-detail"><img src="/img/producto.jpg"></a></div>
                <div>
                    <p class="">Nombre del producto</p>
                </div>
                <div class="">
                    <div class="">Descripcion</div>
                    <div class="">Precio</div>
                </div>
                <div class=""><i class="fas fa-cart-arrow-down"></i></div>
            </article>
            <article class="articulos oculto">
                <div><a href="/product-detail"><img src="/img/producto.jpg"></a></div>
                <div>
                    <p class="">Nombre del producto</p>
                </div>
                <div class="">
                    <div class="">Descripcion</div>
                    <div class="">Precio</div>
                </div>
                <div class=""><i class="fas fa-cart-arrow-down"></i></div>
            </article>
            
        <hr>

    </main>
    <footer>
        <div class="foot">
            <section>
                <p>Preguntas frecuentes</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eligendi nisi rerum</p>
                <br>
            </section>
            <section>
                <p>Sobre nosotros</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eligendi nisi rerum</p>
                <br>
            </section>
            <section>
                <p>Envios</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eligendi nisi rerum</p>
                <br>
            </section>
            <section>
                <p>Nuestras redes</p>
                <br>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter-square"></i>
            </section>
        </div>
        <section class="copyright">
            <br>
            Copyright © 1999-2022 Almacén de Vinos S.A.
        </section>
    </footer>
</body>

</html>