/*
Negro: #111111;
Gris: #2F2F2F;
Blanco: #F6F6F6;
Dorado: #FFCB74;
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-header {
    background-color: #FFCB74;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.banner {
    width: 100%;
    height: auto;
}

.main-sections {
    background-color: #F6F6F6;
}

.main-footer {
    background-color: #2F2F2F;
    padding: 20px;
    width: 100%;
}

.section-article {
    border: red solid 1px;
    margin: auto;
    width: 70%;
}

.article-detail {
    border: blue solid 1px;
    background-color: #FFCB74;
    margin: 20px auto;
    padding: 10px;
    position: relative;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    text-align: center;
}

.article-detail div {
    padding: 5px;
}

.article-total {
    border: salmon solid 1px;
    background-color: #FFCB74;
    margin: 20px auto;
    padding: 10px;
    position: relative;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    text-align: center;
}

.imagen {
    width: 100%;
    height: auto;
}

.article-separator {
    width: 50%;
    margin: auto;
}

@media (min-width: 769px) {

    .article-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .article-separator {
        display: none;
    }

    .imagen {
        width: 14%;
        height: auto;
    }
}

@media (min-width: 1200px) {
    
    .section-article {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .section-detail {
        width: 70%;
        padding: 15px 15px 15px 30px;
    }

    .section-total {
        width: 30%;
        padding: 15px 30px 15px 15px;
    }


    .imagen {
        width: 8%;
        height: auto;
    }
    
}
