/* paleta de colores #11111 - #2f2f2f - #f6f6f6 - #FFCB74 */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-wrap: wrap;
  background-color: #111111;
  position: sticky;
  top: 0px;
  align-items: center;
  justify-content: space-between;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f6f6f6;
}


.botella-vino {
  width: 100%;
}

.left-header {              
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 20%;
  align-self: center;
}

.burguer-menu {
  color: #f6f6f6;
  text-align: center;
}

.fa-user {
  color: #f6f6f6;
}

.texto-header {
  color: #f6f6f6;
  font-size: calc(0.6em + 0.5vw);
  text-align: center;
}

.carrito {
  color: #f6f6f6;
  text-align: center;
}

.fa-shopping-cart {
  color: #f6f6f6;
}

.barra-busqueda {
  display: flex;
  align-items: center;
  border-radius: 2px;
  background-color: #f6f6f6;
  padding: 5px;
  max-height: 25px;
  max-width: 30%;
  text-align: center;
}

.fa-search, .fa-times {
  color: #111111;
  background-color: #f6f6f6;
}

input {
  margin: 0 5px 0 5px;
  width: 100%;
  border: none;
  outline: none;
}

button {
  border: none;
  background-color: #f6f6f6;
}

form {
  display: flex;
  width: 100%;
}

.nav-bar {
  display: none;
  margin-top: 10px;
}

.nav-bar a {
  padding: 5px;
}

li, a {
  list-style: none;
  text-decoration: none;
  color: #f6f6f6;
  display: inline-block;
}

.ing-reg {
  width: 100%;
  color: #f6f6f6;
  text-align: center;
  font-size: 12px;
  background-color: #4d2121
  ;
}

.banner {
  text-align: center;
  width: 100%;
  background-color: #91bdf0;
}

h2 {
  text-align: center;
  color: #2f2f2f;
  font-size: 27px;
}

.productos {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


  
.articulos {
    width: 40%;
    margin: auto;
    padding-bottom: 5%;
    
  }



/* detalles del producto */




.detalle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10%;
    
}

.imagen {
    width: 70%;
}

.descripcion {
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.descripcion div {

    text-align: center;
    
    
    
    margin: auto;

}

.nombre-producto {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    padding: 7% 0px 0px 0px;
    
    
}

.descripcion-producto {
    width: 75%;
    font-size: 20px;
    padding: 5% 0px 0px 0px;
    
}



.precio-producto {
    font-size: 30px;
    padding: 25px 0px 0px 0px;
}

.cantidad {
  font-size: 25px;
  margin-bottom: 15px;
  padding: 5% 0px 0px 0px;
}

.caja-cantidades {
  display: flex;
  justify-content: center;
}

.valor-cantidad {
    text-align: center;
    width: 25%;
    font-weight: bold;
    height: 40px;
}

.carrito-mas {
  text-align: center;
  font-size: 35px;
  
}

.cantidad-producto {
  padding: 5% 0px 0px 0px;
  
}

.iconoyagrega{

  padding: 7% 0px 0px 0px;
}


.puede-interesar {
  padding: 50px;
}


.oculto {
  display: none;
}




/* Footer */



.foot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.copyright {
  width: 100%;
  text-align: center;
}

@media (min-width: 479px) {

  .burguer-menu {
    display: none;
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-bar {
    display: block;
    text-align: center;
  }
.logo {
  width: 100%;
  text-align: center;
}

.barra-busqueda{
  max-width: none;
  width: 50%;
}

  .foot {
    flex-wrap: initial;
    gap: 10px;
  }
}


  @media (min-width: 768px) {


    .detalle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .imagen {
        width: 47%;
    }
    
    .descripcion {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        
       
        
        
    }
    
    
    .descripcion div {
    
        text-align: center;
        
        
        
        margin: auto;
    
    }
    
    .nombre-producto {
        width: 75%;
        font-size: 30px;
        font-weight: bold;
        padding: 0px;
        padding-bottom: 7%;
        
        
       
        
    }
    
    .descripcion-producto {
        width: 75%;
        font-size: 20px;
        padding: 0px;
        padding-bottom: 7%;
        
    }
    
    .precio-producto {
        font-size: 30px;
        
    }
    
    .cantidad {
      font-size: 25px;
      
     
    }
    
    .caja-cantidades {
      display: flex;
      justify-content: center;
    }
    
    .valor-cantidad {
        text-align: center;
        width: 25%;
        font-weight: bold;
        height: 40px;
    }
    
    .carrito-mas {
      text-align: center;
      font-size: 35px;
      
    }
    
    
    .puede-interesar {
      padding: 50px;
    }


    .articulos {
      width: 30%;
      margin-bottom: 10px;
    }

    .oculto {
      display: block;
    }
    
  }
  
  @media (min-width: 1024px) {


  }
  