/* paleta de colores #11111 - #2f2f2f - #f6f6f6 - #FFCB74 */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: #111111;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  position: sticky;
  top: 0px;
}

img {
  width: 100%;
}

.left-header {              
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 20%;
  align-self: center;
}

.logo {
  text-align: center;
  width: 50%;
}

.fa-user {
  color: #f6f6f6;
}

.texto-header {
  color: #f6f6f6;
  font-size: calc(0.6em + 0.5vw);
  text-align: center;
}

.carrito {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-shopping-cart {
  color: #f6f6f6;
}

.barra-busqueda {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #f6f6f6;
  padding: 5px;
}

.fa-search,
.fa-times {
  color: #111111;
  background-color: #f6f6f6;
}

input {
  margin: 0 5px 0 5px;
  width: 100%;
  border: none;
  outline: none;
}

button {
  border: none;
  background-color: #f6f6f6;
}

form {
  display: flex;
  width: 100%;
}

hr {
  width: 100%;
  margin-top: 10px;
}

.nav-bar {
  display: flex;
  margin-top: 10px;
}

.nav-bar a {
  padding: 5px;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: #f6f6f6;
  display: inline-block;
}

h2 {
  text-align: center;
  color: #2f2f2f;
}

.productos {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.articulos {
  width: 30%;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #111111;
  color: #f6f6f6;
}

@media (min-width: 479px) {
  .foot {
    display: inline-flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
