<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">

    <script src="https://kit.fontawesome.com/0a256d9d04.js" crossorigin="anonymous"></script>

    <title>Wine ONE LIFE - Login</title>
</head>

<body>
    
    <div class="bg-img">
        <form action="/action_page.php" class="container">
            <div class="login-sign"><div class="ingresa"><a href="./login">Ingres치</a></div> <div class="registra"> <a href="./signup"> Registrarse</a> </div> </div>
            <br>

            <label for="email"><b>Tu Email</b></label>
            <input type="email" placeholder="Tu Email" name="email" required>

            <label for="psw"><b>Contrase침a</b></label>
            <input type="password" placeholder="Constrase침a" name="psw" required>

            <div class="boton">

            <button type="submit" class="btn">Iniciar sesi칩n</button></div>
        </form>
    </div>
</body>

</html>