<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/signup.css">

    <script src="https://kit.fontawesome.com/0a256d9d04.js" crossorigin="anonymous"></script>

    <title>Wine ONE LIFE - Login</title>
</head>

<body>
    
    <div class="bg-img">
        <form action="/action_page.php" class="container">
            <div class="login-sign"><div class="ingresa"><a href="./login">Ingresá</a></div> <div class="registra"> <a href="./signup"> Registrarse</a> </div> </div>
            <br>

            <label for="nombre"><b>Nombre:</b></label><br>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" required
                    minlength="2" maxlength="15" />

            <label for="apellido"><b>Apellido:</b></label>
            <input type="text" name="apellido" id="apellido"  placeholder="Apellido" required minlength="2" maxlength="15" />

            <label for="email"><b>Correo Electrónico</b></label>
            <input type="email" placeholder="Tu Email" name="email" required>

            <label for="psw"><b>Contraseña</b></label>
            <input type="password" placeholder="Constraseña" name="psw" required>

            <label for="check-password"><b>Confirmá tu contraseña:</b></label>
            <input type="password" name="check-password" id="check-password"
                 placeholder="Confirmar contraseña" required />


            <div class="checkbox">
            <input type="checkbox" name="condiciones" value="aceptarcondiciones">
            <label for="condiciones" class="condiciones">Acepto los <a href="#">terminos y condiciones</a></label> 
        </div>
            
            <div class="checkbox">
            <input type="checkbox" name="info" value="info">
            <label for="info" class="condiciones">Quiero recibir ofertas</label> </div>
            
               
            <div class="boton">
            <button type="submit" class="btn">Crear usuario</button></div>

        

        </form>
    </div>
</body>

</html>