<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/logottt.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/0a256d9d04.js" crossorigin="anonymous"></script>
    <title>Wine ONE LIFE - Inicio</title>
</head>


    <form action="/products/create" method="post"  class="container">
        <div class="login-sign"><div class="ingresa"><a href="/user">Ingresá</a></div> <div class="registra"> <a href="/user/signup"> Registrarse</a> </div> </div>
        <br>

        <label for="name"><b>Nombre:</b></label><br>
        <input type="text" name="name" id="name" placeholder="Nombre" required />

        <label for="description"><b>descripcion del producto:</b></label>
        <textarea id="description" name="description"></textarea>

        <label for="price"><b>Precio</b></label>
        <input type="text" placeholder="precio" name="price" required>

        <label for="category"><b>Categoria</b></label>
        <input type="text" placeholder="categoria" name="category" required>

    
        <div class="checkbox">
        <input type="checkbox" name="recom" value="aceptarcondiciones">
        <label for="recom" name="recom" class="condiciones">recomendado</a></label> 
    
        
         </div>
        

           
        <div class="boton">
        <button type="submit" class="btn">Crear usuario</button></div>

    

    </form>


<body>
    
</body>
</html>