<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/logottt.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/create.css">
    
    <script src="https://kit.fontawesome.com/0a256d9d04.js" crossorigin="anonymous"></script>
    <title>Wine ONE LIFE - Inicio</title>
</head>

    <div class="contenedor-formulario">
    <form action="/products/create" method="post" enctype="multipart/form-data" class="container">

      
        <div>
        <label for="name"><b>Nombre:</b></label>
        <input type="text" name="name" id="name" placeholder="Nombre" required />
        </div>

        <div>
        <label for="description"><b>Descripcion del producto:</b></label>
        </div>
        <div>
        <textarea id="description" name="description"></textarea>
        </div>

        <div>
        <label for="price"><b>Precio</b></label>
        <input type="number" placeholder="precio" name="price" required>
        </div>

        <div>
        <label for="category"><b>Seleccionar categoría</b></label>
        <select name="category" required>
            <option value="vinos">vinos</option>
            <option value="cervezas">cervezas</option>
            <option value="licores">licores</option>
            <option value="otros">otros</option>
            
        </select>
        </div>

    
        <div>
        <p>¿Producto recomendado?</p>
        <label for="recom">si</label>
        <input type="radio" name="recom" value= true>
        <label for="recom">no</label>
        <input type="radio" name="recom" value= false>
        </div>
    
        
         
         <div>
         <label for="image"><b>Subir imagen del producto</b></label>
         <input type="file"  name="image" required>
         </div>
        

           
         <div>
         <button type="submit" class="boton">Crear producto</button>
         </div>

    

    </form>

</div>


<body>
    
</body>
</html>